<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About page </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>About page </h1>
 
<p>  

Lorem ipsum dolor sit amet. Ea voluptate distinctio et facilis sint non quae ipsa id dicta aliquid. Aut fugit accusantium eos unde non quas esse qui tenetur necessitatibus quo architecto asperiores! Ea quia maxime et delectus quidem ab dolorem aliquid. Eum quia sint est deserunt iure rem nemo sint est dolor suscipit eum beatae sunt.

Non magnam architecto non sunt perspiciatis sed repellendus quaerat cum cumque officiis qui esse rerum sed ullam laudantium et fugit voluptates. Ex autem provident ut autem natus in fugit fugit ad deserunt rerum est ipsam omnis. Id nihil impedit in laboriosam odio ea aliquid vero non iste voluptates cum perspiciatis asperiores qui voluptatem autem quo corrupti error! At porro quas ut fugit laboriosam ut omnis voluptatibus eum molestiae necessitatibus qui voluptatem nihil et consequatur debitis?

A placeat voluptatem et quam dolorem At neque. Non ipsum voluptatum ut suscipit laborum ut sint eius. At eaque quisquam et eaque sint non doloremque earum.

</p>
 
    <a href=""></a>
  </body>
</html>